@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.content {
  padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
}
table thead th,
table tbody th,
table tbody td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
}
table thead th {
  background-color: #ddd;
}
table tbody th {
  background-color: #eee;
}
table thead th + th,
table tbody td {
  border-left: 1px solid #aaa;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: none;
}

.white {
  border: 1px solid #f6f6f6;
  color: #222222;
}
.white-accent {
  border: 1px solid #f6f6f6;
  color: #222222;
  background-color: #f6f6f6;
}

.black {
  border: 1px solid #222222;
  color: #222222;
}
.black-accent {
  border: 1px solid #222222;
  color: #f6f6f6;
  background-color: #222222;
}

.red {
  border: 1px solid #ff2828;
}
.red-accent {
  border: 1px solid #ff2828;
  color: #f6f6f6;
  background-color: #ff2828;
}

.blue {
  border: 1px solid #2828ff;
}
.blue-accent {
  border: 1px solid #2828ff;
  color: #f6f6f6;
  background-color: #2828ff;
}

.yellow {
  border: 1px solid #ffff28;
}
.yellow-accent {
  border: 1px solid #ffff28;
  color: #222222;
  background-color: #ffff28;
}

.grean {
  border: 1px solid #ff00ff;
}
.grean-accent {
  border: 1px solid #ff00ff;
}

.orange {
  border: 1px solid #ff00ff;
}
.orange-accent {
  border: 1px solid #ff00ff;
}

.pink {
  border: 1px solid #ff00ff;
}
.pink-accent {
  border: 1px solid #ff00ff;
}
