@page "/"
@namespace umaStatus.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>umaStatus</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="umaStatus.styles.css" rel="stylesheet" />

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script>
      //ロードされた際の処理として実施：
      window.onload = function(){

              //HTML内に画像を表示
              html2canvas(document.getElementById("target"),{
                      onrendered: function(canvas){
                              //imgタグのsrcの中に、html2canvasがレンダリングした画像を指定する。
                              var imgData = canvas.toDataURL();
                              document.getElementById("result").src = imgData;
                            }
                    });

              //ボタンを押下した際にダウンロードする画像を作る
              html2canvas(document.body,{
                      onrendered: function(canvas){
                              //aタグのhrefにキャプチャ画像のURLを設定
                              var imgData = canvas.toDataURL();
                              document.getElementById("ss").href = imgData;
                            }
                    });

            }
    </script>
</body>
</html>
