@page "/"
@using umaStatus.Components

<div>
<h1>Hello, world!</h1>



@foreach (var (index, status) in @umas.Select((status, i) => (i + 1, status)).Take(GateCount))
{
  <umaStatus.Components.Character 
    Status=@status
    GateCount=@GateCount
    No=@index
  />
}

<table class="frame" height="200px" width="560px">
    <tr>
      <td rowspan="2">
        <!--枠番-->
        <input type="number" @bind="no" />
      </td>
      <td rowspan="2">
        <!--イメージ-->
      </td>
      <td>
        <!--距離適正-->
        <!--芝適正-->
        <!--やる気-->
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <th scope="col"><img class="StatusIcon" src="images/speed.webp" /></th>
            <th scope="col"><img class="StatusIcon" src="images/stamina.webp" /></th>
            <th scope="col"><img class="StatusIcon" src="images/power.webp" /></th>
            <th scope="col"><img class="StatusIcon" src="images/guts.webp" /></th>
            <th scope="col"><img class="StatusIcon" src="images/intelligence.webp" /></th>
          </tr>
          <tr>
            <td><input type="number" @bind="speed" /></td>
            <td><input type="number" @bind="stamina" /></td>
            <td><input type="number" @bind="power" /></td>
            <td><input type="number" @bind="guts" /></td>
            <td><input type="number" @bind="intelligence" /></td>
          </tr>
        </table>
      </td>
    </tr>
</table>
<button @onclick="UpdateState">追加</button>
</div>

